.App {
  background-image: url("./fondoPrincipalPage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
}

.prueba {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.App-header {
  text-align: left;
}

.logo {
  position: relative;
  top: 220px;
  right: 80px;
}
.admin {
  text-decoration: none;
}
.adminlogo {
  height: 50px;
}

.table-responsive {
  text-align: left;
}
