.App {
  background-image: url("./fondomvm.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 649px;
  overflow: hidden;
  background-size: cover;
  color: white;
  text-align: center;
}

.App-header {
  background: transparent;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
